<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="klapersuite.prismanalysis.preference.PrismPreferencePage"
            id="klapersuite.prismanalysis.preference.prism"
            name="Prism">
      </page>
   </extension>
</plugin>
